@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h3>Insert your name and solve captcha</h3>
    @using (Html.BeginForm())
    {
        <div align="center" class="form-group">
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px">
                @Html.Label("Username", new { @class = "control-label" })
                @Html.TextBox("Username" ,"", new { @class = "form-control" })
            </div>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px">
                @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Dark)
            </div>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 20px">
                <input type="submit" class="btn btn-primary" value="Start" />
            </div>
        </div>
    }
</div>

