
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>Hello</h2>
    <h3>Click on button to start test</h3>
    <a href="@Url.Action("Test", "Main")" class="btn btn-primary btn-lg">
        <h4>Start</h4>
    </a>
</div>
