@using TestProjectCDM.Infractructure
@using TestProjectCDM.Data.Models

@model IEnumerable<Image>

@if (((Test)Session["Test"]).Steps.Count > 1)
{
    <div>
        @Ajax.ActionLink(
        "<-Prev",
        "PrevStep",
        new { area = "" },
        new AjaxOptions() { UpdateTargetId = "img-update" },
        new { @class = "btn btn-default" })
    </div>
}
@foreach (var image in Model)
{
    @Ajax.RawActionLink(
        string.Format("<div class='col-lg-6'>"
                      + "<img src=" + @Href(image.Link) + " class='img-thumbnail img-transform'>"
                      + "</div>"),
        "TestPartial",
        new {id = image.StyleId},
        new AjaxOptions()
        {
            UpdateTargetId = "img-update"
        })
}

