@{
    ViewBag.Title = "Test";
}
<div id="img-update">
    <p><h2 class="text-center">Click on picture that you like more</h2></p>
    <div class="row jumbotron">
        @Html.Action("TestPartial","Main")
    </div>
</div>