@{
    ViewBag.Title = "Test";
}
<p><h2 class="text-center">Click on picture that you like more</h2></p>
    <div class="row jumbotron" id="img-update">
        @Html.Action("TestPartial","Main")
    </div>

