@using TestProjectCDM.Infractructure
@using TestProjectCDM.Data.Models

@model IEnumerable<Image>


@foreach (var image in Model)
{
    @Ajax.RawActionLink(
        string.Format("<div class='col-lg-6'>"
                      + "<img src=" + @Href(image.Link) + " class='img-thumbnail img-transform'>"
                      + "</div>"),
        "TestPartial",
        new {id = image.StyleId},
        new AjaxOptions()
        {
            UpdateTargetId = "img-update"
        })
}
