
@{
    ViewBag.Title = "Test";
}
<table>
    <tr>
        <th class="text-center">
            First image
        </th>
        <th class="text-center">
            Second image
        </th>
    </tr>
    <tr>
        <td>
            <img src="~/Content/Images/American/american1.jpg" class="img-thumbnail img-transform">
        </td>
        <td>
            <img src="~/Content/Images/American/american10.jpg" class="img-thumbnail img-transform">
        </td>
    </tr>
</table>
