@using TestProjectCDM.Infractructure
@model IEnumerable<string>

@foreach (var link in Model)
{
    @Ajax.RawActionLink(string.Format("<div class='col-lg-6'>"+
                                        "<img src="+@Href(link)+" class='img-thumbnail img-transform'>"+
                                     "</div>"), 
        "TestPartial", 
        new AjaxOptions()
        {
            UpdateTargetId = "img-update"
        });


}
